.header{
	background-color: gray;

	

}
img.logo {
  width: 15%;
  height: auto;
  margin-left: 100px;
  display: inline-block;

}
#menuOpcoes {	
  background-color: #66ccff;
  height: 45px;
  width: auto;
  display: inline-block;
}
img.menuBars{
  width:35px;
  height:30px;
  display: inline-block;


}
.pesquisa{
  width: 500px;
  height: 30px;
  border: 2px solid black;
  margin: center;
  display: inline-block;
}
#campoPesquisa{
	width: 496px;
}
.ambiente{
  width:100%;
  height: auto;
}
.loginBlock{
  margin:center; 
  width: 500px;
  height: 800px;
  background-color:white;
}