.header{
	background-color: gray;
  position: sticky;
	

}
img.logo {
  width: 15%;
  height: auto;
  margin-left: 100px;
  display: inline-block;

}
#menuOpcoes {	
  background-color: #66ccff;
  height: 45px;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  margin:10px;

}
img.menuBars{
  width:35px;
  height:30px;


}
.entradaPesquisa{
  width: 500px;
  height: 30px;
  border: 2px solid black;
  margin-left: 100px;
  display: inline-block;
}
#campoPesquisa{
	width: 496px;
}
.topMusicas{
  margin-left: 8px;
  border: 2px solid black;
}
.topMusicas-title{
  margin-left: 10px;
  width: 300px;
  background-color: #66ccff;
}
.btnPesquisa{
  display: inline-block;
  position: absolute;
  margin-left: 5px;

}
.icon{
  width:30px;
  height:30px;
}