body{
	background-image: linear-gradient(to right, darkgray, white, darkgray);
	font-family: verdana;
}

.form{
	width: 500px;
	margin: auto;
	padding-top: 50px;
}

.card{
	box-shadow: 1px 1px 5px #0099cc;
	background-image: linear-gradient(to right, rgb(71, 168, 224), rgb(130, 194, 247),rgb(71, 168, 224));
	padding: 30px;
	border-radius: 5px;
}

.card-top{
	text-align: center;
}

.card-group{
	margin-bottom: 15px;
}
.card-group > label{
	width: 100%;
	color: rgb(19, 71, 114);
	display: block;
}

.card-group > input{
	border-radius: 5px;
	outline: 0;
	width: 100%;
	height: 25px;
	padding: 5px;
}

.card-group > button{
	background-image: linear-gradient(to right, #4576dd, #28488d);
	font-size: larger;
	font-family: Verdana;
	width: 100%;
	border-radius: 30px;
	padding: 20px;
	color: red;
	border: 0px;
	outline: 0;
}

.btn button:hover{
	background-image: linear-gradient(to right, #4576dd, #101b31);
}

.imglogin{
	border-radius: 50px;
	width: 100px;
	box-shadow: 10px 10px 5px grey;
}

.title{
	background-color: linear-gradient(to right, #4576dd, #a7b3cc);
	font-family: Verdana;
	font-size: 50px;
	text-align: center;
}