
body{
  background-color: darkgray;
  margin: auto;
  width: 90%;
  overflow-x: hidden; 
}
header{
	background-image: radial-gradient(gray,#3d3c3c,#3d3c3c);
  display: inline-flex;
  position: static;
  align-items: center;
  margin-left: 5%;
  border-radius:25px;
  width: 90%;
}
.topmusicas{
  background-image: radial-gradient();
  
  position: left;
}
	
.logo-container{
  width: 25%;
  display: flex;
}
.logo{
  max-width: 50%;
  margin:auto;
}
.pesquisa-container{
  display: flex;
  width: 50%;
  height: 50%;
  margin: auto;
}
.campoPesquisa{
  width: 85%;
  font-size: 16px;
}
.btn-container{
  width: 10%;
  background-color: lightblue;
}
.btnPesquisa{
  width: 60%;
}
.nav-container{
  width: 25%;
  margin: auto;
  justify-content: space-between;
  align-items: center ;
  float: right;
}
nav ul li.link{
  display: inline-flex;
}
a:link, a:visited {
  background-color: #0099cc;
  color:white;
  border: 2px solid #0099cc;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  margin-left: 7px;
}
a:hover, a:active .link{
  background-color:gray;
  color: black;
}
main{
  margin: auto;
  background-color: darkgray;
  align-items: center;
  width: 95%;
}

.music-display{
  text-decoration: none;
  display: inline-flex;
}
.artist-display{
  text-decoration: none;
  display: inline-flex;
}
.album-display{
  text-decoration: none;
  display: inline-flex;
}
.detalhes-display{
  text-decoration: none;
}
.top-list {
  column-count:2;
  column-gap: 10%;
}
.caixa-texto{
  background-image: linear-gradient(to right, darkgray, white, darkgray);
  display: inline-block;
  position: relative;
  margin-top: 28%;
  width: 90%;
  margin-left: 5%;
}
.caixa-texto1{
  background-image: linear-gradient(to right, darkgray, white, darkgray);
  display: inline-block;
  position: relative;
  width: 90%;
  margin-left: 5%;
}
.itens{
  column-count:2;
  text-decoration: none;
}
.info{
  display: inline-block;
}
.botoes{
  display: inline-flex;
  margin-top: 5%;
}
ul {
  list-style-type: none;
}
ol{
  font-size: 40px;
}
button{
  background: none;
  border-style: none;
}
h2{
  color: #000b9e;
  font-family: Comic Sans MS;
  text-shadow: 2px 2px  #0099cc;
  font-size: 50px;
  font-weight: 600;
}
footer{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  background: #3d3c3c;
  color: #0f0f0f;
  display: inline-flex;
  border-radius:25px;
  width: 90%;
  margin-left: 5%;
  color: white;
}
.slogan{
  margin: auto;
  text-align: center;
  color:  #0099cc;
  width: 25%;
}
.desenvolvedores{
  margin: auto;
  text-align: center;
  width: 25%;
}
.contactos{
  margin: auto;
  text-align: center;
  width: 25%;
}
.redes_sociais{
  display: grid;
  row-gap: 20px;
  width: 10%;
  float: right;

}
h3{
  font-family: Comic Sans MS;
  font-weight: 600;
}
h4{
  font-family: Comic Sans MS;
  font-weight: 600;
}
#detalhes-musica{
  text-align: center;
}